<div class="container mt-4">

    <div class="row">
        <div class="col-md-6">
            <a [routerLink]="['/']" class="btn btn-outline-primary btn-block col-md-6">Volver</a>
        </div>
        <div class="col-md-6">
            <h2>Comprando...</h2>
        </div>
    </div>

    <form #compraForm="ngForm" (ngSubmit)="comprar()">

        <select class="form-select" #selectcubo name="selectcubo">
            <option *ngFor="let cubo of cubos" value="{{cubo.idCubo}}">{{cubo.nombre}}</option>
        </select>

        <button class="btn btn-success">Guardar</button>
    </form>
</div>